body {
  font-family: "Varela Round", sans-serif;
}

header li img {
  width: 100%;
}

#logo img {
  width: 100%;
}

#logo {
  display: flex;
  width: 12%;
  margin-left: 1%;
  align-items: center;
}

header {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  background-color: #c0c0c0;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul li p {
  font-family: "Varela Round", sans-serif;
  font-size: large;
}

.search {
  display: flex;
  margin: auto 1% auto auto;
  width: 8%;
  height: 100%;
  align-items: center;
}

.search #topic {
  border: solid 1px #c0c0c0;
  border-radius: 5px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}
